ignore-dep-scripts true
save-exact=true
prefer-frozen-lockfile=true
minimum-release-age 131760
minimum-release-age-exclude[]=rdtsc
minimum-release-age-exclude[]=messageformat
minimum-release-age-exclude[]=@flemist/*
minimum-release-age-exclude[]=vite
minimum-release-age-exclude[]=esbuild
minimum-release-age-exclude[]=vitest
minimum-release-age-exclude[]=playwright
minimum-release-age-exclude[]=playwright-core
trust-policy no-downgrade

engine-strict=true
ignore-optional=true
resolution-mode=highest
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=!@types/*react*
